@font-face {
  font-family: 'SanFranciscoDisplay-Bold';
  src: url('SanFranciscoDisplay-Bold.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Bold.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Bold.svg#f067643f4a3e701ed850f65a5d4575ff') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Medium';
  src: url('SanFranciscoDisplay-Medium.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Medium.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Medium.svg#3d4f578d6b9f2f50f555d06a03b63db6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Semibold';
  src: url('SanFranciscoDisplay-Semibold.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Semibold.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Semibold.svg#ec8f31502660e18fe770dc51e62a5981') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Thin';
  src: url('SanFranciscoDisplay-Thin.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Thin.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Thin.svg#a4159e0a5e6b74bdd5dfbd55449fa56d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Ultralight';
  src: url('SanFranciscoDisplay-Ultralight.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Ultralight.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Ultralight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Ultralight.svg#237d54c725fb981a77047cb6ca7786b0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

