<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-instapaper-dark" >
  <div class="flex flex-column" style="min-height:100vh">

  

    {% include header.html %}

    
    
    <div class="fixed" style="right: 0; top: 10vh; z-index:1;transform: rotate(-90deg);margin-right: -50px;">
    <p class="rss-subscribe">subscribe via <a href="/feed.xml">
    RSS</a></p>
    </div>

    <div class="fixed" style="right: 0; bottom: 10vh; z-index:1;transform: rotate(-90deg);margin-right: -65px;">
    <ul class="list-reset">
      <li class="inline-block"><a href="#what" class="open-popup-link">What</a></li>//
      <li class="inline-block"><a href="#who" class="open-popup-link">Who</a></li>//
      <li class="inline-block"><a href="#why" class="open-popup-link">Why</a></li>//
      <li class="inline-block"><a href="#how" class="open-popup-link">How</a></li>
    </ul>
    </div>

    <div class="flex-auto mx-auto" style="width:90%;max-width:700px;">
    


    <div class="flex-auto">
      <div class="wrapper">
        {{ content }}
      </div>
      </div>

    </div>
    </div>
    

    {% include footer.html %}
  
  </div>

  


  <script type="text/javascript">
$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
});
  </script>
  </body>


</html>
