<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-instapaper-dark" >
  <div class="flex flex-column" style="min-height:100vh">

  

    {% include header.html %}

    
    
    <div class="fixed" style="right: 0; top: 10vh; z-index:1;transform: rotate(-90deg);margin-right: -45px;">
    <p class="rss-subscribe yellow p1 button hvr-clear"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></p>
    </div>

    <div class="flex-auto mx-auto" style="width:90%;max-width:700px;">
    
    <div class="flex">
    <div class="col-4 left">
    <ul class="list-reset">
      <li class="inline-block"><a href="#what" class="open-popup-link">What</a></li>//
      <li class="inline-block"><a href="#who" class="open-popup-link">Who</a></li>//
      <li class="inline-block"><a href="#why" class="open-popup-link">Why</a></li>//
      <li class="inline-block"><a href="#how" class="open-popup-link">How</a></li>
    </ul>

    <div class="pop-up">

  
    <div id="what" class="popup-dic mfp-hide">
        <h1>What is this?</h1> 
        <p>"The best is yet to come" is a song by Chet Lam, a Hongkong singer-songwriter.</p>
        <p>This website is totally NOT related to this song</p>
        <p>Just some funny new stuff to share here</p>

        <p>Second, I love the song. And I really get the power of this simple line of words.</p>
        
        <p>Last but not least, I make this tiny simple stuff, keep those new discovered stuffs. And share with you.</p>
    </div>

    <div id="who" class="popup-dic mfp-hide">
        <h1>Who am I ?</h1>
        <p>My name is Sammy. 28. Male. Living in Beijing, China.</p>
        <p>Want to know more about me, just click <a href="http://sammyc.tk">here</a>.</p>
    </div>

    <div id="why" class="popup-dic mfp-hide">
        <h1>Why I make this ?</h1>
        <p>I spend lots of time everyday hanging on the internet, so many new and funny stuffs make my eyes open.</p>
        <p>Why not creat a simple place to collect it and share them?</p>
        <p>Then, comes what you see now.</p>
    </div>

    <div id="how" class="popup-dic mfp-hide">
        <h1>How often will it update ?</h1>
        <p>This is a question I ask myself. And there's no answer yet. I wish I can keep updating at least once per day.</p>
        <p>But sometimes I will sick, I will go travel, I will get very busy doing other things. Then no one will take care of this when I get into those situations. So...</p>
        <p>If you happened to like what I post here but don't want to check if it has updated, why not click the button on the right corner and subscribe via RSS.</p>
    </div>

    </div>


    </div>

    <div class="flex-auto">
      <div class="wrapper">
        {{ content }}
      </div>
      </div>

    </div>
    </div>
    

    {% include footer.html %}
  
  </div>

  <script type="text/javascript">
  particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 9,
      "density": {
        "enable": false,
        "value_area": 394.57459926017265
      }
    },
    "color": {
      "value": "#F4F4F4"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000"
      },
      "polygon": {
        "nb_sides": 6
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5524044389642416,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 481.3810110974106,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 129.47052947052947,
        "size_min": 40,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 200,
      "color": "#ffffff",
      "opacity": 1,
      "width": 2
    },
    "move": {
      "enable": true,
      "speed": 4.810221721157459,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": true,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "remove"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
var count_particles, stats, update;
stats = new Stats;
stats.setMode(0);
stats.domElement.style.position = 'absolute';
stats.domElement.style.left = '0px';
stats.domElement.style.top = '0px';
document.body.appendChild(stats.domElement);
count_particles = document.querySelector('.js-count-particles');
update = function() {
  stats.begin();
  stats.end();
  if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
    count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
  }
  requestAnimationFrame(update);
};
requestAnimationFrame(update);;
  </script>


  <script type="text/javascript">
$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
});
  </script>
  </body>


</html>
