<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class=" white cn">
  


<div class="flex flex-center p2 " style="min-height:100vh">
<div class="p2 mx-auto flex-column" >
  <div class="flex-auto">
  <div class="center" style="letter-spacing: .3rem">introducing</div>
  <div class="center py3" id="highlight" style="font-size: 50px;letter-spacing: .3rem">9con</div>
  <div class="center py3" id="highlight" style="font-size: 24px">
    Just some beautiful OS X app icons.
  </div>
  <div class="mxn2 p2 center">
            <a href="http://is.gd/ILaNwV" class="aqua px3"><i class="fa fa-download"></i>
Download</a>
            <a href="https://github.com/iSammyC/9con" class="aqua px3"><i class="fa fa-github"></i>
Github</a>
        </div>
  </div>
  
  
 
  
</div>
</div>

<div class="flex flex-center p2 " style="min-height:100vh">
<div class="center" style="width:100%">
<div class="flex flex-column">
<div class=" center mb4" id="highlight" style="font-size: 50px">
    The Icons
  </div>
    <span class="py2">Version 1.0</span>
    <p class="fs18 mx-auto" style="max-width: 700px;">9con is new, but you familiar with. Base on the original icons of the apps, crafted in a simple and fun way. All the shadows and colors are considered very carefully, just want to make sure every user of 9con, in any mood.</p>



<div class="flex flex-wrap mb2 mt2 mx-auto" style="width:80%">
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/3435693.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/37420064.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/47025367.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/43179808.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/63302390.jpg" width="80"></div>
  
</div>
<div class="flex flex-wrap mb2 mt2" style="width:100%">
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/34057313.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/82820445.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/98365789.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/46075166.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33762043.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/7679635.jpg" width="80"></div>
</div>
<div class="flex flex-wrap mt2 mb2 mx-auto" style="width:80%">
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/25865857.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/83142746.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/2406702.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/39189752.jpg" width="80"></div>
  <div class="flex-auto"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/31109863.jpg" width="80"></div>
</div>
</div>
</div>


</div>


<div class="flex flex-center p2" style="min-height:100vh">
<div class="left" style="width:100%">
<div class="flex flex-column">
<div class=" center mb4" id="highlight" style="font-size: 50px">
    A little more...
  </div>

<div class="flex flex-auto mb2 mt2 mx-auto" style="width:100%;max-width: 1024px;">
  <div class="col-4">
  <div class="p3">
  <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/86085430.jpg"  width="80" class="">
  <p class="   fs16">A Chinese Version of the Map App. You can also make your own country's version using the ".sketch" file which include in the ".zip".</p>
  </div>
  </div>
<div class="col-4">
<div class="p3">
<img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33041300.jpg"  width="80" class="">
<p class="   fs16">Here's the old version of iTunes icon (Before Apple Music Launch). You can decide which one you like to use.</p>
</div>
</div>
<div class="col-4">
<div class="p3">
<img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/61104480.jpg"  width="80" class="">
<p class=" fs16">You will not just have the App Icons themselves. If an app has its own library, the library icon with same style also included.</p></div>
</div>
</div>

</div>
</div>


</div>

<div class="flex flex-center p2 " style="min-height:100vh">
<div class="left" style="width:100%">
<div class=" center mb4" id="highlight" style="font-size: 50px">
   It will update, with more icons.
  </div>
<p class=" fs16">If you like it</p>
</div>
</div>





    <div class="center social-bar ">
    <p class="">Share 9con on:</p>
    {% include social.html %}
    </div>



            </div>
        </div>  
            
        <footer class="center">
        <ul class="list-reset py3">
          <li class="inline-block px2"><a href="#about" class="open-popup-link">About 9con</a></li>
          <li class="inline-block px2"><a href="#how" class="open-popup-link">How to use</a></li>
          <li class="inline-block px2"><a href="#issue" class="open-popup-link">know issues</a></li>
          
        </ul>
        <div class="p2">If you like 9con and want to support me, you can donate with <a href="#alipay" class="open-popup-link">Alipay</a>or<a href="#wechat" class="open-popup-link">WeChat</a>.</div>
              <div class="pop-up bg-white">
              <div id="about" class="popup-dic mfp-hide">
              <p>Inspire by<a href="https://glaciericons.com/">Glacier Icons</a>.</p>
              <p>Created by<a href="mailto:9con@iscccc.com">Sammy Cheung</a>.</p>

              </div>

              <div id="how" class="popup-dic mfp-hide">
              <h1 class="yellow">如何更换 OS X 图标</h1>
              <p>如果你从来没有更换过 OS X 的应用图标，建议可以先百度搜索一下基本方法。</p>
              <p>如果需要使用工具，建议使用<a href="http://www.freemacsoft.net/liteicon/">Liteicon</a>，如果你的系统版本为10.8(Mountain Lion)或以下，则可以选择使用<a href="http://is.gd/A1MOR7">CandyBar</a>。关于这两款软件的具体使用方法，可以参阅相应网站。</p>
              </div>

              <div id="issue" class="popup-dic mfp-hide">
              <h1 class="yellow">如何更换 OS X 图标</h1>
              <p>如果你从来没有更换过 OS X 的应用图标，建议可以先百度搜索一下基本方法。</p>
              <p>如果需要使用工具，建议使用<a href="http://www.freemacsoft.net/liteicon/">Liteicon</a>，如果你的系统版本为10.8(Mountain Lion)或以下，则可以选择使用<a href="http://is.gd/A1MOR7">CandyBar</a>。关于这两款软件的具体使用方法，可以参阅相应网站。</p>
              </div>
    <div id="alipay" class="popup-dic mfp-hide ">
    <h1>使用支付宝打赏</h1>
    <p>通过支付宝扫以下二维码，即可打赏给作者。数额不限。谢谢大家</p>
    <img src="http://is.gd/09e0ru" width="120">
    </div>

    <div id="wechat" class="popup-dic mfp-hide ">
    <h1>使用微信钱包打赏</h1>
    <p>通过微信扫一扫以下二维码，即可打赏给作者。数额不限。谢谢大家</p>
    <img src="http://is.gd/DNldfP" width="120">
    </div>
    </div>
          
          <div class="container   center">
                  <p>2015 © Made with<span class="red"> love</span> by <a href="http://sammyc.tk">Sammy Cheung</a>.</p>
          </div>
        </footer>

    </div>

    


          <script type="text/javascript">
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        });
          </script>
  </body>

</html>
