<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-white cn">
  


    <div class="flex flex-column" style="min-height:100vh;min-width:100vw">

        <header class="flex flex-center p3" style="height:20vh;">

          <div class="center mx-auto py2">
            <h1 class="yellow title" style="font-size:64px;">9con</h1>
            <p class="web-font">一套 OS X 的新图标。</p>
          </div>
        </header>


        <div class="mx-auto py2 center">
            <button class="button bg-yellow block mx-auto"><a href="http://is.gd/ILaNwV" class="white">Download Now</a></button>
            <aside class="inline-block px2">当前版本 : 1.0</aside> <aside class="inline-block px2"><a href="/en.html">EN</a></aside>
            <aside class="web-font italic" style="font-size:10px">*下载有问题？你也可以从<a class="underline" href="http://is.gd/cNGmUX">这里</a>获得下载。</aside>
        </div>


        <div class="flex-auto mx-auto col-12">
            <div class="wrapper">

                <section class="section1">
                      <div class="flex flex-center p2" style="min-height:60vh">
                      <div class="center py2 mx-auto">

                        


                      <div class="center" style="width:100vw;max-height:400px;max-width:700px">

                      <img src="http://is.gd/4tTUS5"  style="width:100vw;max-width:700px;margin-bottom: -54.5%;">
                      <img src="/img/desk.png" style="width:100vw;max-width:700px;margin-bottom: -5%;">
                      <img src="http://is.gd/JmgRMQ" style="width:100vw;max-width:700px">
                          

                      </div>


                      </div>
                      </div>
                </section>


                <section class="center" style="height:100vh;width:100vw;display:table">

                    <div style="display:table-cell;vertical-align: middle;">
                      <div class="mx-auto py4 px2" style="max-width:1024px;">

                        
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/12413421.jpg" width="120" class="hvr-nine">
                                                
                          <div class="flex-auto px1 py3">
                        
                          <h3 class="web-font py3"  >向左倾斜9°</h3>
                          <p class="web-font"  >9con 之所以叫9con，正是因为所有的图标都向左倾斜 9°，让他们看起来更加统一也更加好玩有趣。</p>
                       


                        </div>

                  </div>
                      </div>
                   
                </section>

                <section class="center" style="height:100vh;width:100vw;display:table">

                    <div style="display:table-cell;vertical-align: middle;">
                      <div class="mx-auto py4 px2" style="max-width:1024px;">

                        
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/43604988.jpg" width="120" class="hvr-nine">
                                                
                          <div class="flex-auto px1 py3">
                        
                          <h3 class="web-font py3"  >熟悉的新图标</h3>
                          <p class="web-font" >在你熟悉的图标原型上加以调整修饰，让你无需花费额外的精力去认识他们。</p>
                       


                        </div>

                  </div>
                      </div>
                   
                </section>



                <!-- Clean and Soft -->
                <section class="center" style="height:100vh;width:100vw;display:table">

                <div style="display:table-cell;vertical-align: middle;">
                <div class="mx-auto py4 px2" style="max-width:1024px;">
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/31109863.jpg" width="80" class="px2 store1">
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/39189752.jpg" width="80" class="px2 store2">
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33041300.jpg" width="80" class="px2 store3">
                                                
                          <div class="flex-auto px1 py3">
                        
                          <h3 class="web-font py3">干净柔软，不一样的新触感</h3>
                          <p class="web-font">去掉那些不必要的繁复细节，换上更温柔舒服的颜色，让每一个图标看起来都更干净，更亲切。再加上表面上的点点阴影，让它们更立体灵动，带来不一样的的视觉触感。 </p>
                          </div>

                  </div>
                  </div>
                   
                </section>

                <!-- UP TO DATE , UP TO PLACE -->
                <section class="container px2 py3" style="min-height:100vh;">

                <div class="clearfix mxn2">

                <div class="sm-col sm-col-6 px2">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/2406702.jpg" width="80" class="hvr-nine px2">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33041300.jpg" width="80" class="hvr-nine px2">
                <h3 class="web-font  py3"   >新的，更新的</h3>
                <p class="web-font"  ">9con不只是一套新图标，它更是一套会更新的图标。比如这个 iTunes 的图标，它已经换好了全新配色，等到 Apple Music 正式加入了 。</p>
               </div>

                <div class="sm-col sm-col-6 px2">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/46075166.jpg" width="80" class="px2 hvr-nine">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/86085430.jpg" width="80" class="hvr-nine px2">
                <h3 class="web-font  py3"   >专属地图图标</h3>
                <p class="web-font"  ">除了原本的“280”公路版本以外，9con 还增加了一个“国道107”*的中国特别版地图图标。你还可以用已经包含在压缩包里的 .sketch 源文档，制作一个属于你自己版本的地图图标。</p>

                <aside class="web-font italic"  ">* 我是一个在北京生活的广州人，国道107正是连接广东与北京的国道哦。</aside>
                </div>

                </div>
                </section>



<section class="container px2 py3" style="min-height:100vh;">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 px2">
      
      <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/61104480.jpg" width="80" class="hvr-nine px2">
      <h3 class="web-font  py3"  >同系列的“库”</h3>
      <p class="web-font "  >当你的软件换上了新的图标，那个专属于它的“库”图标也应该换上同系列新款。而 9con 已经为你想到这一点，并且已经包含在你下载的文件内。</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <img src="http://is.gd/oghxNC" width="80" class="hvr-nine px2">
      <h3 class="web-font py3"  >欢迎参与其中</h3>
      <p class="web-font"  >由于日历图标的特殊性，当前版本的日历图标并不能真正使用。如果你愿意帮忙写出相关的脚本，请<a class="red" href="mailto:sammycheung@me.com">发邮件</a>联系我。并且如果你还发现其他任何的问题或者有任何建议，同样可以通过邮件联系我。我都会尽快修正。</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <img src="http://is.gd/1ECcel" width="80" class="hvr-nine px2">
      <h3 class="web-font py3"  >未完，待续</h3>
      <p class="web-font"  >目前你可以下载到的是9con 的第一部分，包含了最基础和常用的 OS X内置软件图标，更多的图标会在以后陆续更新（其实我已经画了超过80个图标，只是其他部分还未尽完美，所以未包含在当前版本内），更会包含那些常用及热门的第三方软件。敬请期待。</p>
    </div>
  </div>
</section>
    <div class="center social-bar ">
    <p class="web-font">将 9con 分享给更多人:</p>
    {% include social.html %}
    </div>



            </div>
        </div>  
            
        <footer class="center">
        <ul class="list-reset py3">
          <li class="inline-block px2"><a href="#about" class="open-popup-link">关于9con</a></li>
          <li class="inline-block px2"><a href="#how" class="open-popup-link">如何使用</a></li>
          <li class="px2">如果你喜欢9con，可以通过<a href="#alipay" class="open-popup-link">支付宝</a>或<a href="#wechat" class="open-popup-link">微信</a>打赏给作者。</li>
        </ul>

              <div class="pop-up bg-white">
              <div id="about" class="popup-dic mfp-hide">
              <p>灵感来自<a href="https://glaciericons.com/">Glacier Icons</a>。本系列图标均为作者亲自制作，并未使用 Glacier Icons提供的 sketch 文件。</p>
              <p>9con 为作者的业余作品，免费开放给所有用户使用。严禁将9con 用作任何商业用途。如有商业使用需要，请通过<a href="mailto:9con@iscccc.com">电子邮箱</a>联系作者。如有发现未经许可将9con 用于商业用途，作者保留一切追究权利。当然，如果你实在需要使用，可以通过微信或支付宝捐款方式一次性捐助99999元人民币，你可以自动获得商业使用权。谢谢。</p>

              </div>

              <div id="how" class="popup-dic mfp-hide">
              <h1 class="yellow">如何更换 OS X 图标</h1>
              <p>如果你从来没有更换过 OS X 的应用图标，建议可以先百度搜索一下基本方法。</p>
              <p>如果需要使用工具，建议使用<a href="http://www.freemacsoft.net/liteicon/">Liteicon</a>，如果你的系统版本为10.8(Mountain Lion)或以下，则可以选择使用<a href="http://is.gd/A1MOR7">CandyBar</a>。关于这两款软件的具体使用方法，可以参阅相应网站。</p>
              </div>
    <div id="alipay" class="popup-dic mfp-hide ">
    <h1>使用支付宝打赏</h1>
    <p>通过支付宝扫以下二维码，即可打赏给作者。数额不限。谢谢大家</p>
    <img src="http://is.gd/09e0ru" width="120">
    </div>

    <div id="wechat" class="popup-dic mfp-hide ">
    <h1>使用微信钱包打赏</h1>
    <p>通过微信扫一扫以下二维码，即可打赏给作者。数额不限。谢谢大家</p>
    <img src="http://is.gd/DNldfP" width="120">
    </div>
    </div>
          
          <div class="container   center">
                  <p>2015 © Made with<span class="red"> love</span> by <a href="http://sammyc.tk">Sammy Cheung</a>.</p>
          </div>
        </footer>

    </div>

    


          <script type="text/javascript">
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        });
          </script>
  </body>

</html>
