<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class=" white" >




<header class="flex flex-center flex-column" style="height:100vh;width: 100vw">
  <div class="flex flex-wrap  px2 mx-auto bg-darken-5 fs18 animated slideInDown" id="menubar" style="width:100%">
    
    <ul class="inline-block list-reset m0 fs16" style="line-height: inherit;">
        <li class="fs17"></li>
        <li class="px3 bold">9con</li>
        <li>File</li>
        <li>Edit</li>
        <li>View</li>
        <li>Help</li>
    </ul>
    <div class="flex-auto"></div>
    <ul class="inline-block list-reset m0 fs16" style="line-height: inherit;">
        <li><i class="fa fa-search"></i></li>
        <li><i class="fa fa-th-list"></i></li>
    </ul>

  </div>



<div class="flex-auto" style="width: 100vw; height: 100vh">
  <div class="bg-gray rounded fixed " style="width:60%; height: 55%; top: 10%; left: 10%">
    <div class=" rounded-top" style="width: 100%; height: 25px; background-color: #DFDCDF">
      <div class="bg-red circle inline-block mr1 mt1 ml1" style="width: 13px; height: 13px"></div>
      <div class="bg-yellow circle mr1 mt1 inline-block" style="width: 13px; height: 13px"></div>
      <div class="bg-green circle mr1 mt1 inline-block" style="width: 13px; height: 13px"></div>
    </div>



  </div>
</div>


<!--
      <div class="flex-auto">
          <div class="center mx-auto py2 mt4 ">
            <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/43604988.jpg" width="80" class="hvr-nine">
            <h1 class="aqua m0" style="font-size:5rem">9con</h1>
            <p class="silver">Just another set of apps icon for OS X</p>
          </div>
        


        <div class="mx-auto mb2 mt2 center">
            <button class="button button-outline aqua  mr2"><a href="http://is.gd/ILaNwV" class="white">Download Now</a></button>
            <button class="button button-outline aqua  ml2"><a href="https://github.com/iSammyC/9con" class="white">Github</a></button>
        </div>
        </div>-->
        <img src="http://is.gd/JmgRMQ" class="animated slideInUp" id="dock">
</header>


</body>
</html>





