<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-white" >


    <div class="flex flex-column" style="min-height:100vh;min-width:100vw">

        <header class="flex flex-center p3" style="height:20vh;">

          <div class="center mx-auto py2">
            <h1 class="yellow title" style="font-size:6em">9con</h1>
            <p >Just another set of apps icon for OS X</p>
          </div>
        </header>


        <div class="mx-auto py2 center">
            <button class="button bg-yellow block mx-auto"><a href="http://is.gd/ILaNwV" class="white">Download Now</a></button>
            <aside class="inline-block px2">Current Version : 1.0</aside> <aside class="inline-block px2"><a href="/">中文</a></aside>
            <aside class="italic">*For the Chinese users who may have problew with dropbox, you can download from <a href="http://is.gd/cNGmUX">here</a>.</aside>
        </div>


        <div class="flex-auto mx-auto col-12">
            <div class="wrapper">





                <section class="section1">
                      <div class="flex flex-center p2" style="min-height:60vh">
                      <div class="center py2 mx-auto">

                        


                      <div class="center" style="width:100vw;max-height:400px;max-width:700px">

                      <img src="http://is.gd/4tTUS5"  style="width:100vw;max-width:700px;margin-bottom: -54.5%;">
                      <img src="/img/desk.png" style="width:100vw;max-width:700px;margin-bottom: -5%;">
                      <img src="http://is.gd/JmgRMQ" style="width:100vw;max-width:700px">
                          

                      </div>


                      </div>
                      </div>
                </section>


            <section class="center" style="height:100vh;width:100vw;display:table">

                    <div style="display:table-cell;vertical-align: middle;">
                      <div class="mx-auto py4 px2" style="max-width:1024px;">

                        
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/12413421.jpg" width="120" class="hvr-nine">
                                                
                          <div class="flex-auto px1 py3">
                        
                          <h3 class="py3" style="font-size:28px;">9° to the left, ALL</h3>
                          <p class=" " style="font-size:20px;">All icons are 9 degree to the left. Make your dock or launchpad lively, in a consistent way. </p>
                       


                        </div>

                  </div>
                      </div>
                   
                </section>

                <section class="center section2" style="height:100vh;width:100vw;display:table">

                    <div style="display:table-cell;vertical-align: middle;">
                      <div class="mx-auto py4 px2" style="max-width:1024px;">

                        
                          <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/43604988.jpg" width="120" class="hvr-nine">
                                                
                          <div class="flex-auto px1 py3">
                        
                          <h3 class="py3" style="font-size:28px;">It's new, but you know them, already</h3>
                          <p class=" " style="font-size:20px;">You are familiar with these new icons. All icons from 9con are refined from their original ones. That means it will takes you no extra time to reconize them.</p>
                       


                        </div>

                  </div>
                      </div>
                   
                </section>

                <!-- Clean and Soft -->
                <section class="center section3" style="height:100vh;width:100vw;display:table">

                <div style="display:table-cell;vertical-align: middle;">
                <div class="mx-auto py4 px2" style="max-width:1024px;">


                                                
                          <div class="flex-auto px1 py3">
              <img id="icon" src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/31109863.jpg" width="80" class="store1 px2 ">
              <img id="icon"src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/39189752.jpg" width="80" class="store2 px2  ">
              <img id="icon" src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33041300.jpg" width="80" class="store3 px2 ">
                        
                          <h3 class="py3" style="font-size:24px;">Clean & Soft, works Day & Night</h3>
                          <p style="font-size:18px;">Refined from the original one. Simplify by taking some elements out, adjust with softer color. The shadow added make it looks like a 3D button. Just touch it if you want. It works well in both day and night mood.</p>
                      


                        </div>

                  </div>
                      </div>
                   
                </section>

                <!-- UP TO DATE , UP TO PLACE -->
                <section class="container section4 px2 py3" style="min-height:100vh;">

                <div class="clearfix mxn2">

                <div class="sm-col sm-col-6 px2">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/2406702.jpg" width="80" class="px2 hvr-nine">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/33041300.jpg" width="80" class="px2 hvr-nine">
                <h3 class="  py3" style="font-size:28px;">Up to date</h3>
                <p class=" " style="font-size:20px;">9con is an up to date icon set. The iTunes icons already wearing the new color which is the next version of it, with the new Apple Music.</p>
               </div>

                <div class="sm-col sm-col-6 px2">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/46075166.jpg" width="80" class="px2 hvr-nine">
                <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/86085430.jpg" width="80" class="hvr-nine px2">
                <h3 class="  py3" style="font-size:28px;">Up to your place </h3>
                <p class=" " style="font-size:20px;">An extra Chinese Version* Map app icon included. Want to make your own version? The .sketch file is already there for you to play with.</p>

                <aside class="italic">*I was born in Guangzhou and now living and working in Beijing. The "G107" is a national highway that connect these two cities.</aside>
                </div>

                </div>
                </section>



<section class="container px2 py3" style="min-height:100vh;">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 px2">
      
      <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-13/61104480.jpg" width="80" class="hvr-nine px2">
      <h3 class="py3" style="font-size:28px;">Think more</h3>
      <p style="font-size:20px;">It's weird if your Photos app got a new icon but its library is using the old one, right? Don't worry, here it is.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <img src="http://is.gd/oghxNC" width="80" class="hvr-nine px2">
      <h3 class="py3" style="font-size:28px;">Join me</h3>
      <p style="font-size:20px;">I am not a pro at code. So, the Calendar app icon is not working without suitable script. And if anyone would like to help with, <a class="red" href="mailto:sammycheung@me.com">send me an Email</a> please. For any other issues you found or any suggestion for me, drop me a mail too.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <img src="http://is.gd/1ECcel" width="80" class="hvr-nine px2">
      <h3 class="py3" style="font-size:28px;">What's next?</h3>
      <p class=" " style="font-size:20px;">There will be More icons add to the collection. I've already made more than 80+ including those famous 3rd party apps. They are in progress cause I want what you got is perfect. Come back latter for more update.</p>
    </div>
  </div>
</section>
    <div class="center social-bar py3">
    <p class=" ">SHARE 9CON ON:</p>
    {% include social.html %}
    </div>
            </div>
        </div>  
            
        <footer>
          <div class="container   center">
                  <p>2015 © Made with<span class="red"> love</span> by <a href="http://sammyc.tk">Sammy Cheung</a>.</p>
          </div>
        </footer>

    </div>

    


          <script type="text/javascript">
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        });
          </script>
  </body>

</html>
